
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

.content {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.edit-profile-page-content {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0px;
    text-align: center;
    justify-content: center; 
    align-items: flex-start;
  }

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  .input-container label {
    margin-bottom: 5px;
    text-align: left;
  }
  
  .input-container input,
  .input-container select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 220px;
  }
  
input[type="file"],
input[type="text"],
input[type="password"],
input[type="number"],
select, 
button {
    width: 200px; 
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    background-color: #DAAA00;
    color: white;
    border: none;
    cursor: pointer;
}

.button.gold {
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button.gold:hover {
    background-color: #DAAA00;
}

.button.black {
    width: 100px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #545454;
    color: white;
}

.button.black:hover {
    background-color: #545454;
}

.topbar {
    width: 100%;
    height: 60px;
    background-color: #DAAA00;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}



.topbar li {
    float: left;
}

.topbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar li a:hover {
    background-color: #ddd;
}


.table-container {
    margin: 20px;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f0f0f0;
}

.table tbody tr:hover {
    background-color: #e9e9e9;
}


.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.filters input,
.filters select {
    width: 150px; 
    padding: 5px;
    font-size: 14px;
}



.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #666;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: default;
    margin-right: 20px;
  }
  

.profile-circle span {
    font-size: 18px;
}

.profile-section {
    display: flex;
    align-items: center;
  }
  
  .radio-button {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .radio-button input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .radio-button input:checked ~ .checkmark {
    background-color: #DAAA00;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-button input:checked ~ .checkmark:after {
    display: block;
  }
  
  .radio-button .checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }